/* Genel sayfa düzeni */
body {
    background-color: #000000; /* Arka planı siyah renk */
    color: #11ff00ea; /* Yazı rengi beyaz */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Başlık stillemesi */
header {
    background-color: #333;
    color: #00ff08;
    padding: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    color: #1aff00cd; /* Kırmızı renk */
    margin-bottom: 10px;
}

/* Navigasyon menüsü */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #11ff00;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff000000; /* Kırmızı renk */
}

/* İçerik bölümü */
#icerik {
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Oyuncu konteyneri */
.oyuncu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Oyuncu arasındaki boşluk */
}

/* Oyuncu kutusu */
.oyuncu {
    text-align: center;
    width: 200px; /* Oyuncu kutusu genişliği */
}

.oyuncu img {
    width: 100%; /* Fotoğraf genişliği */
    border-radius: 10px; /* Köşeleri yuvarlaştırma */
    transition: transform 0.3s, box-shadow 0.3s; /* Dönüşüm ve gölge efekti süresi ve türü */
}

.oyuncu img:hover {
    transform: scale(1.05); /* Hover efekti: 1.05 kat büyütme */
    box-shadow: 0 8px 16px rgba(0, 255, 4, 0.625); /* Beyaz gölgelendirme efekti */
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
    .oyuncu {
        width: calc(50% - 20px); /* Mobilde iki sütun halinde gösterim */
    }
}

@media (max-width: 480px) {
    .oyuncu {
        width: 100%; /* Mobilde tek sütun halinde gösterim */
    }
}
